#login {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

div.userCard:hover span.userPassword{
	visibility: visible;
}
.systemNavItem:hover div.systemEditBtns{
	visibility: visible;
}
div.userCard:hover div.userEditBtns{
	visibility: visible;
}
div.userCard:hover div.passwordEditBtns
{
	visibility: visible;
}

div.systemEditBtns,div.userEditBtns,.passwordEditBtns,span.userPassword{
	visibility: hidden;
}

.nav-link {
	overflow: hidden;
	word-wrap: break-word;
}

button[disabled=disabled] {
	cursor: not-allowed;
}